@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.login-btn {
    background-color: white;
    border: 0;
    padding: 8px;
    font-size: .875rem;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: rgb(255, 136, 0);
    color: white;
}

* {
    font-family: 'GmarketSansMedium';

}

h2{
    margin: 0;
}

h4 {
    margin: 15px;
}

p {
    margin: 0;
}

body {
    background: linear-gradient(0.25turn, lightgray, rgba(230, 177, 78, 0.484), white);
}

.bote p {
    margin: 0;
}

.bodywrap {
    margin-left: 0;
    margin-right: 0;
}

/* 로그인 공간 */
.login-space {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-block {
    width: 800px;
    height: 30px;
    text-align: right;
}

.login-modal {
    background-color: #ffffff;
    backdrop-filter: blur(5px);
}

.login-modal-size {
    width: 300px;
}

.modal-dialog-centered {
    justify-content: space-around;
}

/* 상단공간 */

.Top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}

.logo {
    height: 120px;
    margin: 10px;
    cursor: pointer;
} 

.hbutton {
    height: 50px;
    width: 50px;
    margin: 10px;
    cursor: pointer;
}

.hbutton2 {
    height: 50px;
    width: 55px;
    margin: 10px;
    cursor: pointer;
}

/* 콘텐츠공간 */
.comments-box {
    width: 800px;
    margin: auto;
    display: flex;
}

.content-box {
    width: 100%;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal__content {
    background-color: white;
    padding: 50px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.modal__overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    color: orange;
    border-bottom: 2px solid gray
}

.mymenus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mymenu {
    margin-right: 10px;
    border: none;
    padding: 10px;
    background-color: orange;
    cursor: pointer;
}

.search {
    width: 200px;
    border: 6px double orange;
    margin: 15px 0px 15px 0px;
}

.fa-magnifying-glass {
    color: orange;
    position: absolute;
    left: 244px;
    top: 175px;
    cursor: pointer;
}

.category {
    height: 90px;
    width: 90px;
}

.category:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.bodywrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.titlediv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid orange;
    width: 800px;
    background-color: white;
    margin: auto;
}

.title {
    width: 100%;
    text-align: center;
    margin: 5px auto 15px auto;
}


.contentdiv {
    width: 800px;
    overflow: hidden;
    height: auto;
    margin: 15px auto 0 auto;
    border: 1px solid orange;
    background-color: white;
}



.content {
    margin: 10px;
    word-break: break-all;
}


.writeinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: lightgray;
    text-align: start;
    font-size: 15px;
    padding: 4px 10px 5px 5px;
}

.articlebuttons {
    display: flex;
    flex-direction: row;
}

.botediv {
    display: flex;
    margin: 15px auto 0 auto;
    flex-direction: row;
    justify-content: space-around;
    width: 800px;
}

.bote {
    font-size: 50px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}

.boteb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btext1 {
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

.btext2 {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

.btext3 {
    font-size: 20px;
    color: red;
    font-weight: bold;
}

.wcommentdiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
    width: 800px;
}

.wcomment {
    resize: none;
    width: 100%;
    height: 50px;
    font-size: 17px;
    border: 1px solid orange;
}

.cosubmit {
    color: orange;
    text-decoration-line: underline;
    text-decoration-style: double;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.comments {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cowriteinfo {
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.cotime {
    font-size: 13px;
    color: gray;
    margin-left: 10px;
}

.commentdetail {
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.comment {
    width: 800px;
    max-width: 100%;
}

.like {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: orange;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.reallike {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    color: orange;
    display: none;
}

.cowriter {
    background-color: rgb(255, 136, 0);
    color: black;
    padding: 3px;
    border-radius: 5px;
}

.comment-modify {
    background-color: rgb(66, 68, 75);
    color: white;
    margin-left: 5px;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
}

.comment-delete {
    background-color: rgb(255, 0, 0);
    color: white;
    margin-left: 5px;
    border-radius: 3px;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .comments {
        width: 100%;
    }

    .wcommentdiv {
        width: 100%;
    }

    .botediv {
        width: 100%;
    }

    .titlediv {
        width: 100%;
    }

    h2 {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .content {
        font-size: 18px;
    }

    .bote {
        font-size: 35px;
    }

    .btext1 {
        font-size: 15px;
    }

    .btext2 {
        font-size: 15px;
    }

    .btext3 {
        font-size: 15px;
    }

    .contentdiv {
        width: 100%;
        font-size: 14px;
    }

}


@media (max-width:580px) {

    .logo {
        height: 70px;
        width: 93px;
    }

    .hbutton {
        height: 30px;
        width: 30px;
    }
    
    .hbutton2 {
        height: 30px;
        width: 35px;
    }

    .Top-bar {
        height: 100px;
    }



}