/* 전체 스타일 */
hr {
    height: 3px;
    margin: 10px;
}

body {
    background-image: url(/static/image/main_background.jpg);
    background-repeat: no-repeat;

}

.row>* {
    padding: 0;
}

.row {
    margin: 0;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}

.navbar > img {
    cursor: pointer;
}

/* 로그인 공간 */
.login-space {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-block {
    width: 1000px;
    height: 30px;
    text-align: right;
}

.login-modal {
    background-color: #2e2e2ea8;
    backdrop-filter: blur(5px);
}

.login-modal-size {
    width: 300px;
}

.modal-dialog-centered {
    justify-content: space-around;
}

/* 상단공간 */
.navbar {
    height: 150px;
    justify-content: center;
}


/* 검색엔진 */
.search-engine {
    width: 80%;
    max-width: 800px;
    display: flex;
    margin: auto;
    border-radius: 8px;
    border: 5px solid rgb(255, 136, 0);
}

/* 상단바1 */
.Top-bar1 {
    width: 800px;
    height: 100px;
    display: flex;
    margin: 5px auto 20px auto;
}

.Top-bar1-buttons {
    width: 100%;
    max-width: 1000px;
    height: 100px;
    justify-content: space-between;
}

.board {
    width: 100px;
    height: 100%;
    transition: all 0.2s;

}

.board:hover {
    transform: scale(1.1);
    cursor: pointer;
}




/* 메인 컨텐츠 공간 */
.first-floor {
    width: 100%;
    max-height: 300px;
    background-color: rgb(255, 136, 0);
}

.first-floor-box {
    width: 1000px;
    height: 300px;
}

.popular-article {
    background-color: white;
    border-radius: 15px;
    height: 260px;
    margin-top: 20px;
}

.popular-banner {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.popular-title {
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 4px;
    background-color: aliceblue;

}

.pop-article {
    padding-top: 5px;
    background-color: #303030;
    transition: all 0.2s;
    height: 31px;
}

.pop-article:hover {
    background-color: orangered;
    padding-left: 15px;
}

.pop-article-title {
    padding-left: 15px;
    color: white;

}

.pop-article-writer {
    color: white;
    text-align: right;
    padding-right: 15px;
}


/* 게시판별 공간 */

.second-floor {

    height: 700px;
}

.board-class {
    width: 1100px;
    height: 600px;
    margin-top: 30px;
}

.second-floor-board {
    height: 280px;
    border-radius: 15px;
    background-color: #e4e4e4;
    margin: 2px;
}

.mainpage-article-list {
    width: 350px;
    height: 150px;
    margin-top: 20px;
}

.board-title {
    background-color: rgb(255, 238, 225);
    height: 25px;
    border-radius: 3px;
    margin-top: 3px;
    padding-left: 15px;
    transition: all 0.3s;
}

.board-title:hover {
    background-color: rgb(255, 215, 184);
    padding-left: 20px;
    font-weight: bold;
}



/* footer */
.footer {
    width: 100%;
    max-height: fit-content;
    background-color: #a59989;
    margin-top: 20px;
}

.footer-space {
    width: 100%;
    height: 100%;
    background-color: #a59989;

}

.footer-space-teamlogo {
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(0.7);
}

.footer-space-teaminfo {
    align-items: center;
    display: flex;
    justify-content: center;
    transform: scale(0.8);
    font-size: 12px;
    line-height: 25px;
    color: #29201ba1;
}



/* 회원가입 */
.signup-box {
    width: 100%;
    height: 560px;
    background-color: rgb(255, 136, 0);
    margin-top: 40px;
}

.signup-box-info {
    width: 380px;
    height: 520px;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.back-to-login {
    margin: 20px;
    text-align: center;
}

.footer-space-teamlogo {
    padding: 25px 0 0 150px;
}


/* 게시판 페이지*/
.posting-space {
    width: 1000px;
    display:flex;
    margin:auto;
    justify-content: flex-end;
}

.posting-btn {
    padding: 5px;
    background-color: rgb(120, 120, 120);
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
}

.board-space {
    width: 100%;
    height: 800px;

}

.board-name {
    width: 100%;
    height: 120px;
    background-color: rgb(255, 136, 0);
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.mobile_log {
    display: none;
}

.search-button {
    border-radius: 90px;
    cursor: pointer;
}

.search-button:hover {
    transition: all 0.3s;
    transform: rotate(180deg);
}

/* 페이지네이션 */
.content__id {
    width: 80px;
    flex-basis: 5%;
}

.article {
    width: 800px;
    padding: 0;
}
/* 반응형 */
@media (max-width: 768px) {
    .content__id {
        flex-basis: 15%;
    }

    .article {
        width: 100%;
        padding: 0px;
        font-size: 15px;
    }
    .content__date {
        font-size: 8px;
    }
    .content__author {
        display: none;
    }

    .article ul {
        padding: 0;
    }

    .posting-space {
        width: 100%;
        padding-right: 15px;
    }

    .login-block {
        display: none;
    }

    .Top-bar1 {
        width: 350px;
        height: 180px;
        margin-bottom: 40px;
        display: flex;
        margin: auto;
    }

    .board {
        width: 80px;
        height: auto;
    }

    .popular-banner {
        display: none;
    }

    .popular-banner .row {
        max-width: 120%
    }

    .popular-article {
        width: 350px;
    }

    .footer-space-teamlogo {
        padding: 0;
    }

    .second-floor-board {
        margin-bottom: 15px;
    }

    .Top-bar-buttons {
        display: block;
    }

    .hbutton {
        height: 30px;
        width: 30px;
    }

    .hbutton2 {
        height: 30px;
        width: 35px;
    }

    .mobile_log {
        margin: 20px;
        display: block;
        text-align: end;
    }

    .second-floor {
        height: 1800px;
    }

}